./ProgrammingTools/*.f90
*.asv
*.zip
yamlmatlab

slprj/
AD_SOAR_c7_V2f_c73_Clean.slxc AD_SOAR_c7_V2f_c73_Clean_OL.slxc AD_SOAR_c7_V2f_c73_Clean_OL_DQ.slxc AD_SOAR_c7_V2f_c73_Clean_newIPC.slxc
.DS_STORE
